@import './app.js.css';
@import './components/tabbar.js.css';
@import './components/formpage.js.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #19a974;
  --blue: #96ccff;
  --gray: #f4f4f4;
  --darkGray: #333;
  --red: #ff725c;
  --radius: 4px;
}